
    <img ng-src="{{ info.image }}" >
    <p class="model"> Model: {{ info.model | uppercase }} </p>
    <p class="gearing"> Gearing: {{ info.gearing }} </p>
    <p class="wheelsize"> Wheelsize: {{ info.wheelsize }} </p>
    <p class="frame">Frame Material: {{ info.frame }} </p>
    <p class="price">{{ info.price | currency }} </p>
    <p class="date"> Next Build Date: {{ info.nextBuildDate | date }}</p>
    <div class="rating">
        <p class="likes" ng-click="plusOne($index)">+{{ info.likes }}</p>
        <p class="dislikes" ng-click="minusOne($index)">{{ info.dislikes }}</p>
    </div>

